name: DAST - OWASP ZAP Full Scan

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  zap_full_scan:
    runs-on: ubuntu-latest

    env:
      ZAP_USERNAME: ${{ secrets.JUICE_ADMIN_USER }}
      ZAP_PASSWORD: ${{ secrets.JUICE_ADMIN_PASS }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Criar pasta de relatórios do ZAP
        run: mkdir -p zap-wrk

      - name: Executar OWASP ZAP Full Scan
        run: |
          docker run \
            --network="host" \
            -e ZAP_USERNAME="$ZAP_USERNAME" \
            -e ZAP_PASSWORD="$ZAP_PASSWORD" \
            -v "$(pwd):/zap/wrk" \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-full-scan.py \
            -t http://localhost:3002 \
            -n .zap/juice.context \
            -I \
            --hook=.zap/hooks/session-keeper.py \
            -r zap-wrk/fullscan-report.html \
            -x zap-wrk/zap-fullscan-report.xml \
            -J zap-wrk/zap-fullscan-report.json \
            -z " -config context.authenticate=true -config context.activeContext=0 -config auth.username=${ZAP_USERNAME} -config auth.password=${ZAP_PASSWORD}"

      - name: Publicar relatórios ZAP como artefato
        uses: actions/upload-artifact@v4
        with:
          name: zap-fullscan-reports
          path: |
            zap-wrk/fullscan-report.html
            zap-wrk/zap-fullscan-report.xml
            zap-wrk/zap-fullscan-report.json